body {
    font-family: Arial, sans-serif;
    background-color: #c6c6f5;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.profile-container {
    text-align: start;
    padding: 40px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    flex-wrap: wrap;
}

.header-container {
    margin-left: 5px; /* Adjust the margin as needed */
}
  
.agenda-container {
    flex-grow: 1;
    margin-bottom: -115px; /* Adjust the margin as needed */
    margin-left: -80%;
  }
  


.search-input {
    width: 150px; /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Add curved edges */
    box-sizing: border-box;
    margin-left: 350px;
    margin-top: 100px;
}
.button-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    margin-top: 60px; /* Adjust the margin as needed */
    margin-left: 20px; /* Adjust the left margin */
    width: 100%; /* Take the full width of the parent container */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: -200px;
    
}

/* Content.css */

.styled-button {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin between buttons */
    padding: 8px;
    border: 2px solid #bf82f8; /* Add default border style */
    border-radius: 25px;
    cursor: pointer;
    background-color: #01172e; /* Adjust the color as needed */
    color: rgb(253, 253, 253);
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.styled-button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.styled-button:hover {
    background-color: #4a69a7;
}

.styled-button.active {
    border-color: #0e0e0e; /* Change border color for the active button */
}


.glass-container {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2; /* Ensure the glass container is above other elements */
    display: flex;
    flex-direction: column;
    align-items: center;
  }