body {
    font-family: Arial, sans-serif;
    background-color: #c6c6f5;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.formbt{
    background-color: #a600a6;
}
.formbt:hover {
    background-color: #d27ad2; 
  }